<!doctype html>
<html lang="en" ng-app="redDashboard">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/redDashboard.css">
  </head>

  <body ng-controller="MainCtrl" ng-cloak>
    <div layout="column" class="ground">
      <!-- Container #1 -->
      <md-toolbar class="md-tall md-primary" layout="row" layout-align="center center">
        <md-button class="menu" hide-gt-sm ng-click="toggleSidebar()">
          <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <div layout-padding>
          <img ng-src="images/step.png" height="100" width="100">
        </div>
        <div layout-padding>
          <h1 class="mainTitle" >Dashboard</h1>
        </div>
      </md-toolbar>

      <!--
      <md-content>
        <section class="ground" layout="row" layout-align="center center">
          <md-button ng-click="go('/')">Home</md-button>
          <md-button ng-click="go('/about')">About</md-button>
        </section>
      </md-content>
      -->

      <div flex layout="row">
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left" ng-cloak="">
          <md-list layout="column" layout-align="center center">
            <md-item>
              <md-button ng-click="go('/profile')">
                <ng-md-icon class="avatar" icon="account_circle" size="64"></ng-md-icon>
                Hello, {{ username }}
              </md-button>
            </md-item>
            <md-item>
              <md-button ng-click="go('/')">
                <ng-md-icon class="avatar" icon="home" size="64"></ng-md-icon>
                Dashboard Home
              </md-button>
            </md-item>
            <md-item>
              <md-button ng-click="go('/requests')">
                <ng-md-icon class="avatar" icon="favorite" size="64"></ng-md-icon>
                Blood Requests
              </md-button>
            </md-item>
            <md-item>
              <md-button ng-click="go('/donors')">
                <ng-md-icon class="avatar" icon="accessibility" size="64"></ng-md-icon>
                Blood Donors
              </md-button>
            </md-item>
            <md-item>
              <md-button ng-click="go('/create-camp')">
                <ng-md-icon class="avatar" icon="create" size="64"></ng-md-icon>
                Create Camp
              </md-button>
            </md-item>
            <md-item>
              <md-button ng-click="go('/')">
                <ng-md-icon class="avatar" icon="exit_to_app" size="64"></ng-md-icon>
                Log out
              </md-button>
            </md-item>
          </md-list>
        </md-sidenav>
        <md-content flex id="content">
          <div ng-view></div>
        </md-content>
      </div>

    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="js/redDashboard.js"></script>
  </body>
</html>
