<!doctype html>
<html lang="en" ng-app="redDashboard">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#3F51B5">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/redDashboard.css">
  </head>

  <body layout="row" ng-controller="MainCtrl" ng-cloak>

    <md-sidenav ng-show="isLoggedIn()" md-swipe-left="sidebarClose()" md-is-locked-open="$mdMedia('gt-sm')" class="site-sidenav md-whiteframe-z2" md-component-id="left" ng-cloak="">

      <md-toolbar class="md-primary" layout="row" layout-align="center center">
        <div layout-padding>
          <img ng-src="images/step.png" height="60" width="60">
        </div>
        <div layout-padding>
          <h1 class="mainTitle" >Dashboard</h1>
        </div>
      </md-toolbar>

      <md-list layout="column" layout-align="center center">
        <div>
          <md-item>
            <md-button ng-click="go('/profile', 'Profile')">
              <ng-md-icon class="avatar" icon="account_circle" size="48"></ng-md-icon>
              Hello, {{ username }}
            </md-button>
          </md-item>
          <md-item>
            <md-button ng-click="go('/', 'Home')">
              <ng-md-icon class="avatar" icon="home" size="48"></ng-md-icon>
              Dashboard Home
            </md-button>
          </md-item>
          <md-item>
            <md-button ng-click="go('/data', 'Data')">
              <ng-md-icon class="avatar" icon="data_usage" size="48"></ng-md-icon>
              Data
            </md-button>
          </md-item>
          <md-item>
            <md-button ng-click="go('/requests', 'Blood Requests')">
              <ng-md-icon class="avatar" icon="favorite" size="48"></ng-md-icon>
              Blood Requests
            </md-button>
          </md-item>
          <md-item>
            <md-button ng-click="go('/donors', 'Blood Donors')">
              <ng-md-icon class="avatar" icon="accessibility" size="48"></ng-md-icon>
              Blood Donors
            </md-button>
          </md-item>
          <md-item>
            <md-button ng-click="go('/camps', 'Camps')">
              <ng-md-icon class="avatar" icon="store_mall_directory" size="48"></ng-md-icon>
              Camps
            </md-button>
          </md-item>
          <md-item>
            <md-button ng-click="go('/create-camp', 'Create Camp')">
              <ng-md-icon class="avatar" icon="create" size="48"></ng-md-icon>
              Create Camp
            </md-button>
          </md-item>
          <md-item>
            <md-button ng-click="go('/login')">
              <ng-md-icon class="avatar" icon="exit_to_app" size="48"></ng-md-icon>
              {{ isLoggedIn() ? "Log Out" : "Log In" }}
            </md-button>
          </md-item>
        </div>
      </md-list>
    </md-sidenav>

    <div layout="column" role="main" flex class="ground">
      <md-toolbar class="md-primary" layout="row" layout-align="start center">
        <md-button class="menu" hide-gt-sm ng-click="toggleSidebar()">
          <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <div layout-padding>
          <ng-md-icon icon="keyboard_arrow_right" class="avatar"></ng-md-icon>
        </div>
        <div>
          <h1 class="mainTitle" >{{currentSection || 'Dashboard' }}</h1>
        </div>
      </md-toolbar>

      <md-content md-swipe-right="sidebarOpen()" ng-view md-scroll-y flex class="md-padding">
      </md-content>

    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="js/redDashboard.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
