<div ng-show="loading" layout="column" layout-align="space-between center">
  <span>loading...</span>
  <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
</div>

<h3>Undone</h3>
<div layout="column" layout-margin>
  <md-card ng-repeat="camp in camps">
    <md-card-content ng-click="detail(camp, 'undone')">
      <div layout="row" layout-align="space-between center">
        <div flex="55">
          <ng-md-icon class="avatar" icon="person"></ng-md-icon>
          <span class="listName">{{camp.title}}</span>
        </div>
        <div flex="45">
          <ng-md-icon class="avatar" icon="lens"></ng-md-icon>
          <span class="listOthers">{{camp.location}}</span>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
<hr>
<h3>Done</h3>
<div layout="column" layout-margin>
  <md-card ng-repeat="camp in campsDone">
    <md-card-content ng-click="detail(camp, 'done')">
      <div layout="row" layout-align="space-between center">
        <div flex="55">
          <ng-md-icon class="avatar" icon="person"></ng-md-icon>
          <span class="listName">{{camp.title}}</span>
        </div>
        <div flex="45">
          <ng-md-icon class="avatar" icon="lens"></ng-md-icon>
          <span class="listOthers">{{camp.location}}</span>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
