<div layout="row" layout-align="space-around start">
  <md-select placeholder="Collection" ng-model="collection">
    <md-option value="bloodReqs">Requests</md-option>
    <md-option value="donors">Donors</md-option>
    <md-option value="camps">Camps</md-option>
  </md-select>
  <md-input-container>
    <label>Search Term</label>
    <input type="text" ng-model="qTerm" placeholder="O+, 26, Naharlagun">
  </md-input-container>
  <md-button class="md-fab avatar" aria-label="search" ng-click="search()">
    <ng-md-icon icon="search"></ng-md-icon>
  </md-button>
</div>

  <div layout="row" layout-align="end center">
    <md-button ng-hide="advancedSearch" ng-click="toggleAdvSearch()">Advanced Search Options</md-button>
    <md-button ng-show="advancedSearch" ng-click="toggleAdvSearch()">Hide Advanced Options</md-button>
  </div>

  <div ng-show="advancedSearch" layout="row" layout-align="space-around start">
    <div ng-hide="isGroupDisabled()">
      <md-select placeholder="Group" ng-model="qGroup" >
        <md-option ng-repeat="group in groups" value="{{group}}">{{group}}</md-option>
      </md-select>
    </div>
    <div>
      <md-input-container>
        <label>Place</label>
        <input type="text" ng-model="qPlace" placeholder="Nowhere">
      </md-input-container>
    </div>
  </div>

<hr>

<div layout="column" layout-margin>
  <md-card ng-repeat="item in resultData">
    <md-card-content>
      <div layout="row" layout-align="space-between center">
        <div flex="55">
          <ng-md-icon class="avatar" icon="person"></ng-md-icon>
          <span class="listName">{{item[primaryProp]}}</span>
        </div>
        <div flex="45">
          <ng-md-icon class="avatar" icon="lens"></ng-md-icon>
          <span class="listOthers">{{item[secondaryProp]}}</span>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>

