<md-dialog aria-label="Detail">
  <md-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Blood Request</md-subheader>
    <div class="dialog-content">
      <div layout="row" layout-sm="column" layout-align="space-between center" layout-align-sm="space-between start">
        <div flex>
          <ng-md-icon class="avatar" icon="person"></ng-md-icon>
          <span class="listName">{{detail.name}}</span>
        </div>
        <div flex>
          <ng-md-icon class="avatar" icon="lens"></ng-md-icon>
          <span class="listOthers">{{detail.group}}</span>
        </div>
      </div>
      <div layout="row" layout-sm="column" layout-align="space-between center" layout-align-sm="space-between start">
        <div flex>
          <ng-md-icon class="avatar" icon="email"></ng-md-icon>
          <span class="listOthers">
            <a href="mailto:{{detail.email}}">{{detail.email}}</a>
          </span>
        </div>
        <div flex>
          <ng-md-icon class="avatar" icon="phone"></ng-md-icon>
          <span class="listOthers">
            <a href="tel:{{detail.phone}}">{{detail.phone}}</a>
          </span>
        </div>
      </div>
      <div>
        <div flex>
          <ng-md-icon class="avatar" icon="location_on"></ng-md-icon>
          <span class="listOthers">{{detail.address}}</span><br>
        </div>
        <div flex>
          <ng-md-icon class="avatar" icon="alarm"></ng-md-icon>
          <span class="listOthers">{{detail.reqOn | date:'mediumDate'}}</span><br>
        </div>
      </div>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <md-progress-circular ng-show="loading" class="md-warn" md-mode="indeterminate"></md-progress-circular>
    <div ng-hide="loading">
      <md-button ng-click="cancel()">
        Close
      </md-button>
      <md-button ng-hide="detail.done" ng-click="done(detail, 'request')">
        Done
      </md-button>
      <md-button ng-show="detail.done" ng-click="undone(detail, 'request')">
        Mark UnDone
      </md-button>
    </div>
  </div>
</md-dialog>
